<!DOCTYPE html>
<html lang="en">
  <head>
          <title>CAR TRADE APPLICATION</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        
  </head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BUY CARS</a>
    </div>
    <ul class="nav navbar-nav">
    
      <li><a [routerLink]="['/add-asset']" routerLinkActive="add-asset-active" >ADD CAR</a>
      <li><a [routerLink]="['/car-trade']" routerLinkActive="car-trade-active" >TRANSFER CAR</a></li>
      <li><a [routerLink]="['/app-view-cars']" routerLinkActive="car-trade-active" >LIST CARS</a></li>
    </ul>
  </div>
</nav>


</body>
</html>





